.container{
  width: 100%;
  margin-bottom:20px;
  background-color: cadetblue;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom-width: thick;
  border-bottom-color: firebrick;
}

.sideBar{
	background-color: #754087;
}

.sideBar ul{
  list-style-type: none;
}

hr{
  width: 90%;
}

body{
   // background-color: #00001b;
	//background-color: #123456;
}

h1{
  color: white;
  margin: 0px;
}

p{
  color: white;
}

