/*FONT IMPORTS FROM FONTS.GOOGLE*/
@import url('https://fonts.googleapis.com/css?family=Syncopate');

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');


/*GLOBAL STYLES*/


html, body{
  font-family: 'Alegreya Sans SC', sans-serif;
}

h1, h2, h3{
  font-family: 'Syncopate', sans-serif;
}

body{
  color: white;
  margin: auto;
}


hr{
  width: 90%;  
  border: 1px solid #CAD178;
  margin:3%;
}


h1{
  color: white;
  margin: 0px;
}




/*  HEADER IMAGE */
.headerImg{
display: none;
}



/*  NAV BAR*/
.nav{
  position: fixed;
  margin-bottom: 3%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left:15px;
  padding-right: 15px;
  text-align: center;
  width: 100%;
  margin-top: -47px;
  margin-left: -15px;
  z-index: 1;
}


.nav a{
  font-size: 40px;
  margin-left: 40px;
  margin-right: 40px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.nav a:hover{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.nav img{
  float: left;
  margin-left: -100px;
  width: 25%;
}



/*HAMBURGER MENU*/

.show-menu{
  display: block;
}

nav {
  display: none;
}

#menu {
  display: block; 
  padding-bottom: 20px;
  padding-top: 10px;
}

.show-menu {
  display: block;
}




 


  /*  PROFILE STYLES (SIDE BAR)*/
.profile{
  background-color: #603140;
  margin-bottom: 10%;
  padding-bottom: 2%;
  box-shadow:  0 30px 25px #8C465C;
  overflow: hidden;
}

.profile img{
  width: 65%;
  margin: auto;
  padding-top: 3%;
  display: block;
}

.firstWord{
  color: orange;
}

.profile ul {
  list-style-type: none;
  text-align: center;
  color: #e0e0e0;
}

#emailLink{
  color: deepskyblue;
}

.profile h2{
  font-size: 70px;
  text-align: center;
  margin-top: -95px;
}

.profile h3{
  font-size: 40px;
  text-align:center;

}



/*GOOGLE MAPS*/
#map {
  height: 600px;;
  margin-bottom: -25px;
 }





/*  MAIN BODY STYLES*/
.main{
  background-color: #C7AA74;
  box-shadow: 0 30px 25px  #CCA866;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  margin-bottom: 5%;
  text-align: center;
}

.main h1{
  padding-top: 80px;
  font-size: 70px;
}

.main p{
  color: #f2f2f2;
}

.main .pDate{
  background-color: orange;
  color: white;
  padding: 8px;
  border-radius: 14px;
}

.main table{
  font-size: 40px;
  margin: auto;
}

.main table td{
  padding: 3%;
  color: #f2f2f2;
  text-align: center;
}



/*ACCORDION*/
.accordion {
  max-height: 50%;
  font-size: 40px;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: #CCA166;
    display: none;
}

#initial{
  display: block;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


/*FOOTER */
footer{
  width: 100%;
  text-align: center;
  background-color: black;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
}

footer img{
  padding-top: 5%;
  width: 7%;
  display: block;
  margin: auto;
}









/*BREAK POINT FOR TABLETS*/
@media(min-device-width:480px){
  
/*  GLOBAL STYLES*/
body{
  float:left;
  margin:auto;
  color: white;
}


/*  HEADER IMAGE */
.headerImg{
  display: block;
  height: 400px;
}
.headerImg img{
  height: 100%;
  width: 100%;
}
  
  
  
  
/*  NAV STYLES*/
.nav{
  position: fixed;
  margin-top: -450px;
  text-align: center;
  width: 100%;
}


.nav a{
  font-size: 20px;
}

  #menu img{
    margin-left: -60px;
    margin-top: 20px;
  }

#menu {
  width: 50%;
  display: block; 
  padding-bottom: 20px;
  padding-top: 10px;
}

  
  
  
  

/*  PROFILE STYLES (SIDE BAR)*/
.profile{
  margin-top: 6%;
  margin-bottom: 100%;
  margin-right: 30px;
  width:30%;
  float:left;
  box-shadow: 0 2px 55px 5px #8C465C;
}

.profile h2{
  font-size: 35px;
  margin-top: auto;
  margin-bottom: 70px;
}

.profile h3{
  margin-left: 20px;
  font-size: 20px;

}


#prof{
  margin-top: -50px;
}

.profList{  
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  text-align:left;
  padding-left: 30px;
  line-height: 1.9;
}


/*IMAGES FOR PROFILE LIST ELEMENTS (REPLACE BULLET POINTS)*/
.work{
  background-image: url("./imgs/briefcase.png");
}

.education{
  background-image: url("./imgs/education.png");
}

.phone{
  background-image: url("./imgs/phone.png");
}

.email{
  background-image: url("./imgs/email.png");
}

/*  GOOGLE MAPS*/
#map{
  height: 300px;
  margin-top: 6%;
  margin-bottom: -25px;
}


  

/*  MAIN BODY STYLES*/
.main{
  box-shadow: 0 2px 55px 5px #CCA866;
  overflow: hidden;
  margin-top: 6%;
  width:60%;
}

.main h1{
  padding-top: 18px;
  font-size: 40px;
}



.main table{
  font-size: 15px;
}

.main table td{
  padding: 3%;
}
  
  .accordion{
    font-size: 20px;
  }


  
/*  FOOTER*/
footer img{
  width: 2.5%;
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
  margin: auto;
}
}











/*BREAK POINT - DESKTOP SIZING*/

@media(min-device-width:1000px){


/*  GLOBAL STYLES*/
body{
  float:left;
  margin:auto;
  color: white;
}


/*  HEADER IMAGE */
.headerImg{
  display: block;
  height: 400px;
}
.headerImg img{
  height: 100%;
  width: 100%;
}


/*  NAV STYLES*/
.nav{    
  background-color: #CAD178;
  border-bottom: 5px solid  #957964;
  position: relative;
  margin: auto;
  width: auto;
}

.nav a{
  display: inline;
  font-size: 30px;
}

.nav a:hover{    
background-color: #957964;
padding-bottom: 20px;
padding-top: 10px;
}

 nav {
  display: block;
}

 #menu {
  display: none;
}

.fixed-nav nav{
  position: fixed;
  width:100%;
  margin-top:-430px;
  margin-left: -30px;
  text-align: center;
  background-color:#CAD178;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 5px solid  #957964;
  z-index: 1;  /*required to keep the rotated text from overlapping the nav bar*/
}






/*  PROFILE STYLES (SIDE BAR)*/
.profile{
  margin-top: 6%;
  margin-bottom: 100%;
  margin-right: 30px;
  width:30%;
  float:left;
  box-shadow: 0 2px 55px 5px #8C465C;
}

.profile img{
  width:45%;
  margin-left: 60px;
}

.profile h2{
  font-size: 35px;
  margin-left:190px;
  margin-top: -150px;
  margin-bottom: 140px;
  transform: rotate(-90deg);
}

.profile h3{
  margin-left: 20px;
  font-size: 20px;

}


#prof{
  margin-top: -50px;
}

.profList{  
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  text-align:left;
  padding-left: 30px;
  line-height: 1.9;
}

#map{
  height: 300px;
  margin-top: 6%;
  margin-bottom: -25px;
}



/*  MAIN BODY STYLES*/
.main{
  box-shadow: 0 2px 55px 5px #CCA866;
  overflow: hidden;
  margin-top: 6%;
  width:60%;
}

.main h1{
  padding-top: 18px;
  font-size: 40px;
}



.main table{
  font-size: 15px;
}

.main table td{
  padding: 3%;
}

/* FOOTER*/
footer img{
  width: 2.5%;
  padding-top: 0;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
  margin: auto;
}
}
